<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>َLogin</title>
    {% load static %}

    <link rel="stylesheet" href = "{% static 'css/login_register.css' %}">


  <body>

        <form class="box" id="login-form" method="POST" 
              action="{% url 'my_auth:login' %}">

              <h1>Login</h1>

            {% csrf_token %}



                  <input id="id_username" for="id_username" name="username" placeholder="Username" type="text" value="{{form.username}}">
                  {% if field.errors %}
                      <div class="errormessages">
                    {{ message }}
                </div>
                {% endif %}


                  <input id="id_password" for="id_password" name="password" placeholder="Password" type="password">


            {% for message in messages %}
                <div class="errormessages">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    {{ message }}
                    {% endif %}
                </div>

                <div class="successmessages">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {{ message }}
                {% endif %}
                </div>


                {% endfor %}

            <input type="submit" value="Login"/>
            <input type="hidden" name="next" value="{{ next }}" />

            <a href="{% url 'my_auth:register' %}"> Create an account </a>


        </form>


  </body>

</html>