*{
	margin: 0;
	padding: 0;
}

/*body {*/
/*	background-image: url(back2.jpg);
	background-size: cover;
	background-position: center;
}*/

body {
  background-image: url(back2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
}

.imgsize{
	width:1800;
	height:800
}

h1{
	text-align: center;
	margin-bottom: 40px;
	color:  	#fff
}
a{
	text-align: center;
	margin-bottom: 20px;
	color:  	#fff
}

.fa{
	margin-right: 10px;
}


.form-box{
	width: 500px;
	background: rgba(0,0,0,0.8);
	margin: 12% auto;
	padding: 50px 0;
	color: #fff;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);

}
.input-box{
	margin: 31px auto;
	width: 80%;
	border-bottom: 1px solid rgb(0,0,255);
	padding-top: 10px;
	padding-bottom: 5px;
}

.input-box input{
	width: 90%;
	border: none;
	outline: none;
	background: transparent;
	color: #fff;
}

::placeholder{
	color: #fff;
}

.login-btn{
	margin: 40px auto 20px;
	width: 80%;
	display: block;
	outline: none;
	padding: 10px 0;
	border: 1px solid #fff;
	cursor: pointer;
	background: transparent;
	color: #fff;
	font-size: 16px;
}

.checkbox_remember{
	margin: 40px auto 20px;
	width: 80%;
	border: none;
	background: transparent;
	color: #fff;

}
