*{
	margin: 0;
	padding: 0;
}

body {
  background-image: url(../img/backimg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
}

h1 {
  color: black;
  font-family: "Brush Script MT", cursive;
  font-size: 150px;
  text-decoration: underline;
}

h2 {
  color: black;
  font-family: "Brush Script MT", cursive;
  font-size: 100px;
  text-decoration: underline;
}

p{
	color: black;
  	font-size: 100px;
  	margin-top: 40px
}

p1{
	color: black;
  	font-size: 30px;
  	margin-top: 40px
}


a{
	margin-top: 50px;
}